*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #676;
    height: auto;
}

.header{
    position: relative;
    background-color: black;
    height: 140px;
    width: 100%;
    top: 0;
}
.header__icon{
    margin: 30px;
}
.header__icon--size{
    height: 140px;
}
.header__text{
    text-align: end;
    color: white;
    margin-right: 25px;
    width: auto;
    height: 140px;
    float: right;
}

.shopping-cart{
    margin-top: 70px;
}
.shopping-cart-items {
    padding: 20px 0px;
  }
  
  .shopping-cart-header {
    border-bottom: 1px solid #ccc;
  }
  
  .shopping-cart-image {
    max-width: 80px;
    border-radius: 20px;
  }
  
  .shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
  }
  
  .shopping-cart-total {
    min-height: 96px;
  }
  